.header {
    background-color: #2C3E50;
    padding: 10px 0;
}

.header-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.header-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header-menu li {
    margin-right: 20px;
}

.header-menu a {
    text-decoration: none;
    color: #ECF0F1;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.header-menu a:hover {
    color: #F39C12;
}