@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
    font-family: "Merriweather";
    text-decoration: none !important;
}

p {
    font-family: "Merriweather";
    font-size: 1em !important;
    margin-left: 15px !important;
}

.appBar {
    font-family: "Merriweather";
    background-color: #2C3E50 !important;
}

.toolbar {
    font: 'Merriweather';
    margin: 8px;
    font-size: 20px;
    background-color: #2C3E50;
    color: #D3D3D3;
    padding-left: 0;
    padding-right: 0 !important;
}

.div-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.name {
    align-items: flex-start;
    font-family: "Merriweather";
    color: #fff;
    padding-left: 8px;
}

.profile-photo {
    display: flex;
    align-items: flex-end;
    margin-right: 5px;
}

.sidebar-item {
    font-family: 'Merriweather' !important;
    font-size: 25px !important;
    margin-left: 10px !important;
}

.sidebar-items {
    font-size: 5em;
}

.sidebar {
    height: 10vh;
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar h2 {
    color: white;
    padding: 6px 16px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 16px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    object-fit: cover;
}