.sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    min-width: 100%;
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.text-container {
    padding: 10px;
    text-align: center;
}

p {
    font-size: 20px !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-about {
    font-size: 0.55em !important;
}

.personal-name {
    font-size: 1.5em !important;
    font-weight: 500;
    margin-top: none !important;
}

.social-media-icons {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.social-media-ico {
    padding: 10px;
    border: 3px solid #2C3E50;
    font-size: 60px;
    color: #2C3E50;
    border-radius: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sidebar-footer-bottom {
    bottom: 0;
    position: absolute;
    padding: 10px 0;
    border-top: 1px solid #ffffff;
    width: 100%;
    text-align: center;
    background-color: #2C3E50;
    color: #fff
}

.sidebar-footer-bottom-copyright {
    font-size: 12px !important;
}