@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* Other global styles */
body {
  margin: 0;
  font-family: 'Merriweather', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff0db;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
.App {
  display: flex;
} */

/* .App-header {
  width: 75%;
} */

/* .Sidebar {
  width: 25%;
} */